

<div class="max-w-md bg-white p-6 rounded-lg shadow-lg text-center">
  <div
    class="bg-[#fcd493] px-4 py-2 rounded-md inline-block text-lg text-white font-semibold"
  >
    JOIN US
  </div>
  <h1 class="text-2xl font-bold text-brown-800 mt-2">FERFRE</h1>
  <img src="/pooh.png" alt="pohh" class="w-full rounded-lg mt-4" />
  <p class="text-brown-800 text-lg mt-4">DWEDWDWD</p>
  <p class="text-3xl font-bold text-brown-800">DWEDWDWDEW</p>
  <p class="text-brown-800 text-lg mt-2">
    DIA <span class="text-2xl font-bold">01</span> FECHA
  </p>
  <p class="text-brown-800 text-lg">
    CALLE <span class="text-2xl font-bold">201</span>CIUDAD
  </p>
  <p class="text-brown-800 text-lg">HORARIO</p>
  <div class="buttons flex justify-center p-4">
    <button
      class="bg-blue-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
    >
      VER UBICACIÓN
    </button>
    <button
      class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
       onclick="confirmarAsistencia()"
    >
      CONFIRMAR ASISTENCIA
    </button>
  </div>
</div>


